<!doctype html>
{% load crispy_forms_tags %}


<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>nepalensis</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">nepalensis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Map <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0"method = "POST">
          {% csrf_token %}
          {{form|crispy}}
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" name = "address" aria-label="Search"> -->
          <button class="btn btn-outline-success my-2 my-sm-0 mx-3" type="submit">Search</button>
        </form>
        
      </div>
    </nav>
    <div class="container width='100%'">
      <div flex-wrap="nowrap" flex-direction="row" class="row mt-4 " >
        <div class="col-md-10 offset-md-1">
          {{ m|safe}}
        </div>
        <div>
          <table cellpadding=0 cellspacing=0 width=173 style='border-collapse:collapse;table-layout:fixed;width:130pt'>

          <tr height=19 style='height:14.4pt'>
            <td height=19 width=173 style='height:14.4pt;width:130pt'>processid'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'sampleid'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'institution_storing'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'phylum_name'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'family_taxID'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'genus_taxID'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'subspecies_taxID'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'identification_method'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'voucher_status'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'collectiondate_start'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'collection_note'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'reproduction'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'extrainfo'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'depth'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'region'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'media_descriptors'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'copyright_licenses'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'catalognum'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'recordID'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'collection_code'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'class_taxID'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'family_name'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'genus_name'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'subspecies_name'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'identification_reference'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'tissue_type'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'collectiondate_end'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'site_code'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'habitat'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'notes'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'elev_accuracy'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'sector'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'captions'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'copyright_institutions'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'fieldnum'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'phylum_taxID'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'order_taxID'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'subfamily_name'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'species_name'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'order_name'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'image_urls'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'collectors'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'sex'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'lifestage'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'associated_taxa'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'lon'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'country'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'image_ids'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'copyright_years'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'bin_uri'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'class_name'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'subfamily_taxID'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'species_taxID'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'identification_provided_by'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'tax_note'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'collection_event_id'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'collectiontime'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'sampling_protocol'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'associated_specimens'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'lat'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'depth_accuracy'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'exactsite'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'copyright_holders'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'photographers'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'coord_source'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'province_state'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'elev'</td>
          </tr>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'>'coord_accuracy'</td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>